**/node_modules

**/.env
**/.env.local
**/.env.production
**/.env.example

frontend/dist
backend/dist

/backend/src/generated/prisma
backend/prisma/migrations/dev.db

**/*.log
npm-debug.log*

.DS_Store
.vscode/